body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-color: #7AD7F0;
  }
  
  header {
      background-color:rgba(33, 33, 33, 0.9);
      color:#ffffff;
      display:block;
      font: 14px/1.3 Arial,sans-serif;
      height:70px;
      position:relative;
      z-index:5;
  }

  h2{
      margin-top: 30px;
      text-align: center;
      font-size: 24px;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  a {
    color: #1d10d2;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }

  .link {
      font-size: 10px;
      display: inline-block;
      border: solid 1px #333;
      background: #7AD7F0;
      color: #333;
      padding: 5px;
  }
  
  .link:hover {
      border:solid 1px #ccc;
      background: #333;
      color: #ccc;
  }

  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }